body {
    background-image: linear-gradient(to bottom right, red, orange, yellow, green, blue, indigo, violet);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#content_area {
    width: 940px;
    height: 540px;
    background-color: pink;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    text-align: center;
    padding: 20px 10px;
    font-size: 30px;
}

#content_area h1 {
    color: blue;
    font-size: 48px;
    margin: 0 0 60px;
}

#question, #start_over {
    font-size: 35px;
}

.answer, #start_over {
    min-width: 60%;
    display: inline-block;
    margin: 0;
    padding: 12px;
}

.answer:hover, #start_over:hover {
    background-color: blue;
    color: pink;
}

.missed_answer {
    font-size: 26px;
    margin: 4px;
}

#question.no_bottom_margin {
    margin-bottom: 0;
}

#timer {
    height: 34.4px;
}

#start_button {
    font-size: 30px;
    color: pink;
    background-color: blue;
    padding: 6px;
}